a{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-decoration: none;
  color:black;
  font-size : 35px;
}
a:hover{
  color:red;
}
img, svg{
  position: absolute;
    top: 200px;
    left: 800px;
    width: 72%;
    z-index: -1;
    width:400px;
    height:448px;
}
